@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

*{
  	margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;

}

p {

  padding-left:1em;
  padding-right:1em;


}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  /*background:#011638;*/
  background: linear-gradient(0, #DFF8EB, #011638);
  line-height: 1.4;
  list-style:none;
  padding-bottom:10em;
  font-size:18px;
  font-weight: 400;
  text-shadow: 0 0 1px #343434;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  


}

a{
  color: #DFF8EB;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

 h2{
  font-size: 24px;
  width:100%;
  text-align: center;
  background: #011638;
}
h3{
  font-size:20px;
  text-align: center;
  border-top:1px solid #364156;
  width:100%;
  background: #CDCDCD;
}

header{
  display:flex;
  max-width:50em;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  /*background:#011638;*/
}
section{
  display:flex;
  justify-content:center;
  flex-direction:column;

}

header h1{
  font-weight: bold;
  font-size:38px;
  width:100%;
  text-align:center;
  border-bottom: 1px solid #011638;
}


img{
  width:100%;
}

header p {
  max-width:30em;
  background
}

header nav ul {
  display:flex;
  list-style:none;
  justify-content:space-around;
}

header nav ul li, .project-stack li, .project-links ul li {
  padding:1em;
  list-style:none;
}

.project-stack, .project-links ul{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
}
/*
.work{
  border-left: 1px solid #19B37B;
  border-right: 1px solid #19B37B;
}

.contact{
  border: 1px solid #19B37B;
  border-top: none;
}
*/
.project-links ul {
  margin-bottom:0;
}

.hidden{
  display:none;
}
