@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

@media (min-width: 780px){
  .work section, .work h2{
    /* border-left: 4px solid #364156;
    border-right: 4px solid #364156; */
  }
}

@media (max-width: 510px){
  body{
    width:100%;
  }
  .project-links a  {
    display:flex;
    background: #1aafd0;
    padding: 0.5em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -khtml-border-radius: 1px;  
    border-radius: 1px;

  }
  .project-links ul {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:1em;
    padding-bottom:2em;
  }
}



*{
  	margin: 0;
		padding: 0;
		border: 0;
		vertical-align: baseline;

}

p {

  padding:1.5em;

}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
    color: #1E2835;
    background-color: #F8F8F8;

  /*background: linear-gradient(0, #364156, #011638);
  background: -webkit-linear-gradient(#011638, #364156);
  background: -o-linear-gradient(#011638, #364156);
  background: -moz-linear-gradient(#011638, #364156);*/

  line-height: 1.5;
  list-style:none;
  padding-bottom:10em;
  font-size:18px;
  font-weight: 400;


}

a, .parralax p, header h1, header h2{
  color: #DFF8EB;
  text-decoration: none;

}
.work {
    /* background: #D0D4DA; */

}

.project-links a {
  background: #1aafd0;
  padding: 1em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;  
  border-radius: 8px;
}

 h2{
  font-size: 24px;
  width:100%;
  text-align: center;
  border-top:4px solid #364156;
  padding-top:0.6em;
  padding-bottom:0.6em;
}
h3{
  font-size:20px;
  text-align: center;
  width:100%;
  padding-top:0.6em;
  padding-bottom:0.6em;
  background: #6a67ce;
}

/*header{
  display:flex;
  max-width:50em;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}*/
.main-flex{
  display:flex;
  margin:0 auto;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  max-width:50em;
}

.parralax {
  width:100%;
  background-image: url("https://gregstake.files.wordpress.com/2014/02/houston-night-skyline.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom:20em;

}

weak {
  color: darkgrey;
}

header p{
  padding-bottom:2em;
  padding-top:2em;
  max-width:40em;
  align-self:center;
}

header h1{
  font-weight: bold;
  font-size:38px;
  width:100%;
  text-align:center;
  padding-bottom:0;
  padding-top:1em;
  /* color: #D0D4DA; */
}


header{
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:100%;
  padding-bottom:20em;
}

header img {
  padding-top:2em;
  width:15em;
  align-self:center;
}

header nav ul {
  display:flex;
  list-style:none;
  justify-content:space-around;
}

header nav ul li, .project-stack li, .project-links ul li {
  padding-left:1em;
  padding-right:1em;
  list-style:none;
}

img{
   width:100%; 
}

.project-stack{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:1em;
  padding-top:0.5em;

}
.project-links ul{
  display:flex;
  flex:1;
  flex-direction:row;
  justify-content:space-around;
  padding:1em;
  padding-bottom:3.5em;
}

.project-stack-icons {
  display:flex;
  justify-content: space-around;
  margin-right:1em;
  margin-left:1em;
  margin-top:1em;
}

.project-stack-icons li, .project-stack li {
  list-style:none;
  align-self:center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}

.project-stack-icons li img {
  width:3em;
}


.contact-list {
  display:flex;
  justify-content: space-around;
  align-content:center;
  max-height:8em;
  list-style:none;
}

.contact-list li {
  justify-content:center;
}

.link-img{
  max-width:5em;
  padding:1em;
  height:60%;
  align-self:center;
}

.github{
 background: red;
    padding: 0;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    width: 5em;
    height: 85%;
    overflow: hidden;
}

.outer {
      width: 100px;
    height: 100px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    overflow: hidden;
    padding: 10px;

}

.work section:last-child{
    border-bottom: 4px solid #364156;
    border-top: 4px solid #364156;
  }

.contact h2, .parralax h2 {
    border-top: 0;
  }

.work h2:first-of-type{
  border:0;
}


/*
.work{
  border-left: 1px solid #19B37B;
  border-right: 1px solid #19B37B;
}

.contact{
  border: 1px solid #19B37B;
  border-top: none;
}
*/


.hidden{
  display:none;
}

.about-me section{
  background:#1aafd0;
}

.about-me ul {
  display:flex;
  justify-content:space-around;
    max-height:10em;
  padding:2em;

  align-content:center;
}

.about-me li{
  height: 12em;
  display:flex;
   flex:1; 
  justify-content: center;
}

.headshot{
   max-width:10em; 
   max-height:10em; 
   margin-top:1em;
}