@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  background:#FDFFFC;
  line-height: 1.5;
  list-style:none;
  padding-bottom:10em;

}
a{
  color: #35B385;
}
 h2{
  margin-top:0;
  margin-bottom:0;
}
header{
  display:flex;
  max-width:50em;
  justify-content:center;
  flex-direction:column;
  border:1px solid #19B37B;
  border-bottom:none;
  align-items:center;
}
header h1{
  font-weight: bold;
  font-size:38px;
}
header img {
  width:220px;
}
header p {
  max-width:30em;
}

header nav ul {
  display:flex;
  list-style:none;
  justify-content:space-around;
}
header nav ul li {
  padding:1em;
}
.work{
  border-left: 1px solid #19B37B;
  border-right: 1px solid #19B37B;
}
.contact{
  border: 1px solid #19B37B;
  border-top: none;
}
.project-links ul {
  margin-bottom:0;
}